<h1 class="center">Entrada de Material</h1>
<p class="notice center"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row">
  <div class="col s3 push-s8">
    <%= link_to 'Voltar', materials_path , :class => 'waves-effect waves-light btn' %>
  </div>
</div>

<%= render 'form', material: @material %>
